html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montagu Slab', serif;
}

.gradient {
    background: rgb(247,147,26);
    background: linear-gradient(90deg, rgba(247,147,26,1) 5%, rgb(180, 179, 179) 97%);
}

.page-header {
    padding-top: 3rem;;
    margin-top: 3rem;
    font-size: 1.25rem;
    color: white;
}
.page-header img{
    border-radius: 40%;
}

.socials img {
    margin: 0;
    zoom: 500%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.feature {
    color: white;

}

.feature ul {
    padding-left: 2rem;
    /*list-style-type: none;*/
}

.feature ul li {
    padding-left: 2rem;
/*    background-image: url;
    background-image: no-repeat;*/
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: white;
    height: 6rem;
    width: 6rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.gallery {
    background-color: whitesmoke ;

}

.gallery img {
    border-radius: 5%;
}

.services {
    color: white;

}

.footer {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;

}

.a {
    color: white;
    text-decoration: none;
}